[submodule "deps/tensorflow"]
	path = deps/tensorflow
	url = https://github.com/tensorflow/tensorflow.git

[submodule "deps/flatbuffers"]
	path = deps/flatbuffers
	url = https://github.com/google/flatbuffers.git
[submodule "deps/dr_libs"]
	path = deps/dr_libs
	url = https://github.com/mackron/dr_libs.git
